<section class="scene-screen">
  <section class="scene">
    <img class="analysis-scene" src="/images/analysisRoom.png">

    <div id="npcJenkins" class="npc">
      <img class="jenkinsSprite" src="/sprites/jenkins.png">
    </div>

    <div id="gurneySprite">
      <img class="gurneySprite" src="/sprites/gurney.png">
      <!--<img class="thing gurneySprite2" name="Killer robot!" src="assets/images/gurney2.png">
      <img class="thing gurneySprite3 robot" name="Killer robot!" src="assets/images/gurney3.png">
      <img class="thing gurneySprite4" name="Killer robot!" src="assets/images/gurney4.png">-->
    </div>

    <div id="station" class="exit-analysis thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="jenkins" class="thing jenkins" data-name="Jenkins" data-type="person" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="biohazards" class="thing biohazards" data-name="Volatile substance machine" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="lab-cabinets" class="thing lab-cabinets" data-name="Cabinets" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="lab-cupboards" class="thing more-lab-cabinets" data-name="Cabinets" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="gurney" class="thing gurney" data-name="Gurney" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>


    <section class="walkable-area analysis-scene" {{action walk}}></section>

    {{jenkins-speach speakClear=(action speakClear)}}
    <section class="options analysis">
      <p id="bizarre" onclick={{action convoOption}}>Bizarre findings?</p>

      {{#if bizarreCovered}}
        <p id="blood" onclick={{action convoOption}}>What about the blood?</p>
      {{/if}}
      {{#if bloodCovered}}
        <p id="anythingelse" onclick={{action convoOption}}>Anything else?</p>
      {{/if}}

      <p id="bye" onclick={{action convoOption}}>Chat to ya later, Doc</p>
    </section>

  </section>
</section>