<section class="scene-screen">
	<section class="scene">
		<img class="car-foreground" src="/images/carInteriorForeground.png">
		<div class="rain-container car-interior-rain">
      <img class="rain" src="/sprites/rain.png">
    </div>
		<img class="car-background" src="/images/carInteriorBackground.png">

    <div class="map">
      <img class="map-img" src="/images/map.png">
    </div>

    {{#unless cupPickedUp}}
	    <div class="cup">
	      <img class="cupEmptyImg" src="/images/cup.png">
	    </div>
	 	{{/unless}}

    <div id="map" class="thing" data-name="Satnav" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    
    {{#unless cupPickedUp}}
    	<div id="cup" class="thing" data-name="emptycup" pickupable="true" use="urine" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    {{/unless}}

    <div id="exit" class="exit-car thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}>Get Out</div>

    {{#if travelMapOpened}}
      <div class="travelMap">
        <img class="travelMapImg" src="/images/travelMapImg.png">

        <div class="stationBadgeIcon" onclick={{action "travel"}}>
          <img id="station" class="stationBadgeImg" src="/images/stationBadge.png">
        </div>

        <div class="crimeSceneIcon" onclick={{action "travel"}}>
          <img id="crime" class="crimeSceneIconImg" src="/images/crimeSceneIcon.png">     
        </div>
        
      </div>
    {{/if}}
	</section>
</section>