<section class="scene-one-screen">
  <section class="scene">
    <!-- all items of interest in the crime scene -->
    <img class="scene-one" src="/images/SceneOne.png">
    <section class="player-action">Walk to</section>
    <div id="victim" class="thing" data-name="Victim's body" onclick={{action thingClicked}}></div>
    <div id="shards" class="thing" data-name="Bloody shards" onclick={{action thingClicked}}></div>
    <div id="head" class="thing" data-name="Victim's head" onclick={{action thingClicked}}></div>
    <div id="car" class="thing" data-name="Dick-mobile" onclick={{action thingClicked}}></div>
    <div id="brokenwindow" class="thing" data-name="Broken Window" onclick={{action thingClicked}}></div>
    <div id="handprint" class="thing" data-name="Bloody hand print" onclick={{action thingClicked}}></div>
    <div id="urine" class="thing" data-name="Urine puddle" onclick={{action thingClicked}}></div>
    <div id="syringe" class="thing" data-name="Syringe" onclick={{action thingClicked}}></div>
    <div class="walkable-area" {{action walk}}></div>
  </section>
        <!-- leave scene pop up box -->
{{!--      <div class="travel">
      <p>Get in the Dick-Mobile?</p>
      <button class="leave">Leave</button>
      <button class="stay">Stay</button>
    </div> --}}
</section>