<section class="scene-screen">
  <section class="scene">
    <img class="scene-one" src="/images/SceneOne.png">
    <div id="victim" class="thing victim" data-name="Victim's body" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}} onmouseover={{action helper}} onmouseout={{action clearHelper}} ontouchmove={{action helper}} ontouchend={{action clearHelper}}></div>
    <div id="shards" class="thing shards" data-name="shards" pickupable="true" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="head" class="thing head" data-name="Victim's head" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="car" class="thing car" data-name="Dick-mobile" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="broken-window" class="thing broken-window" data-name="Broken Window" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="hand-print" class="thing hand-print" data-name="Bloody hand print" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="urine" class="thing urine" data-name="Urine puddle" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="syringe" class="thing syringe" data-name="Syringe" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div class="walkable-area crimescene" {{action walk}}></div>
    {{rodriguez-sprite 
      thingClicked=(action thingClicked)
      helper=(action helper)
      verb=verb
    }}
    {{rodriguez-speach}}
    <section class="options">
      <p id="theVictim" onclick={{action convoOption}}>Tell me about the victim</p>
      <p id="suspects" onclick={{action convoOption}}>Any suspects?</p>
      <p id="witnesses" onclick={{action convoOption}}>Any witnesses?</p>
      <p id="bye" onclick={{action convoOption}}>Chat to ya later, Hot Rod</p>
    </section>
    <div class="rain-container">
      <img class="rain" src="/sprites/rain.png">
    </div>
    
  </section>
</section>