<section class="scene-screen">
  <section class="scene">
    <img class="docks" src="/images/docks.png">
    <div class="rain-container-docks">
      <img class="rain" src="/sprites/rain.png">
    </div>
    <img class="docksBg" src="/images/docksBg.png">
    <div class="clouds-container-docks">
      <img class="clouds" src="/images/docksClouds.png">
    </div>
     <div class="waves-container-docks">
      <img class="waves" src="/sprites/waves.png">
    </div>

    {{#if gateOpened}}
      <section class="walkable-area opened-gate-docks-scene" {{action walk}}></section>
    {{else}}
      <section class="walkable-area docks-scene" {{action walk}}></section>
    {{/if}}

    <div id="car" class="exit-docks thing" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div class="gate-container">
      <img class="gate" src="/sprites/gate.png">
    </div>

    <div class="gate-door-container">
      {{#if gateOpened}}
        <img class="gate-door-open" src="/sprites/gateDoorOpen.png">
      {{else}}
        <img class="gate-door" src="/sprites/gateDoor.png">
      {{/if}}
    </div>

    {{#if gateOpened}}
      <div id="opened-gate" class="thing" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    {{else}}
      <div id="gate" class="thing" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    {{/if}}

    <div id="moon" class="thing moon" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="buoy" class="thing buoy" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <div id="fishing-boat" class="thing fishing-boat" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    {{#if gateOpened}}
      <div id="pier" class="pier thing" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    {{/if}}

  </section>
</section>