<!-- Inventory menu -->
<div class="inventory">
	<section class="items">
		{{#each state.inventory as |item|}}
			<img id={{item.id}} class="item" data-name={{item.name}} data-usable="true" src={{item.url}} onclick={{action "inventoryItemClicked" item}} onmouseover={{action helper}} onmouseout={{action clearHelper}}>
		{{/each}}
	</section>
</div>
<div class="inventoryIcon" onclick={{action "toggleInventory"}}>Items</div>

<div class="footer-bar">
<!-- Action choice buttons -->
<section class="action-choice-btns">
  <button data-verb="Look at" class="look action-choice-btn" onclick={{action "changeVerb"}}>Look at</button>
  <button data-verb="Talk to" class="talk action-choice-btn" onclick={{action "changeVerb"}}>Talk to</button>
  <button data-verb="Pick up" class="pick action-choice-btn" onclick={{action "changeVerb"}}>Pick Up</button>
</section>

<div class="action-helper-container">
  <div class="player-action">{{verb}}</div>
  <!-- shows what the user is hovering over -->
  <div class="helper">{{helperText}}</div>
</div>

{{#unless isInCar}}
  <section class="saveAndLoadBtns">
    <button class="save action-choice-btn" onclick={{action "saveGame"}}>Save</button>
    <button class="load action-choice-btn" onclick={{action "loadGame"}}>Load</button>
    <button class="full-screen action-choice-btn" onclick={{action "toggleFullScreen"}}>Full Screen</button>
  </section>
{{/unless}}

</div>