<section class="scene-screen">
  <section class="scene">
    <img class="skyway-market-bg-scene" src="images/skywayMarketBg.png">
    <div class="rain-container-market">
      <img class="rain" src="/sprites/rain.png">
    </div>
    <img class="skyway-market-fg-scene" src="images/skywayMarketFg.png">
    <div id="skyway" class="thing skyway-entrance-door" data-name="Exit" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <section class="walkable-area skyway-market-scene" {{action walk}}></section>
    {{#each pedestrians as |ped|}}
      <div id="{{ped.containerId}}" class="pedestrians">
        <img class="{{ped.imgId}} pedestrianSprite" src="{{ped.filePath}}">
      </div>
    {{/each}}

    <div id="npcDrummer" class="npc">
      <img class="drummerSprite" src="/sprites/drummer.png">
    </div>
    <div id="drummer" class="thing drummer" data-name="Drummer" data-type="person" onclick={{action thingClicked}} onmouseup={{action "setNpc"}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    {{component (concat npcName "-speach")
      speakClear=(action speakClear)
    }}

    <section class="options station">
      <p id="niceDrumming" onclick={{action convoOption}}>Nice music</p>
      <p id="seenJenkins" onclick={{action convoOption}}>You seen a scientist guy around here?</p>
      <p id="bye" onclick={{action convoOption}}>Nice talkin' to ya</p>
    </section>
  </section>
</section>