<section class="scene-screen">
  <section class="scene">
    <img class="teds-trinkets-scene" src="images/tedsTrinkets.png">

    <div id="skyway-market" class="thing teds-skyway-market-door" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
    <section class="walkable-area teds-trinkets-scene" {{action walk}}></section>

    <div id="poster" class="thing poster" data-name="poster" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="ladder" class="thing ladder" data-name="ladder" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="tool-shelf" class="thing tool-shelf" data-name="tool-shelf" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="arcade-machine" class="thing arcade-machine" data-name="arcade-machine" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="calendar-girl" class="thing calendar-girl" data-name="calendar-girl" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="shelf" class="thing shelf" data-name="shelf" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div id="npcTed" class="npc">
      <img class="tedSprite" src="/sprites/ted.png">
    </div>
    <div id="ted" class="thing ted" data-name="Ted" data-type="person" onclick={{action thingClicked}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>

    <div class="log-book">
      {{#if showLogBook}}
        <img class="logbookImg" src="/images/logbook.png">
        <div id="logbook" class="thing" data-name="logbook" onclick={{action 'openLogBook'}} onmouseover={{action helper}} onmouseout={{action clearHelper}}></div>
      {{/if}}
    </div>

    <div class="opened-log-book">
      {{#if openedLogbook}}
        <img class="logbook-page-Img" src="/images/logbookPage.png">
        <div class="opened-log-book-entries">
        <div class="close-logbook" onclick={{action "closeLogbook"}}>X</div>
          {{#each logBookEntries as |entry|}}
            <div id={{entry.id}} class="thing" onclick={{action entry.action}} onmouseover={{action 'lookAtEntry'}} onmouseout={{action clearHelper}}>{{entry.name}} {{entry.address}} {{entry.date}}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>

    {{component (concat npcName "-speach")
      speakClear=(action speakClear)
    }}

    <section class="options">
      <p id="junk" onclick={{action convoOption}}>What do you sell here?</p>
      {{#unless showLogBook}}
        <p id="log" onclick={{action convoOption}}>Do you keep a log of your orders?</p>
      {{/unless}}
      <p id="bye" onclick={{action convoOption}}>Thanks for the info</p>
    </section>

  </section>
</section>